* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 44px;
  background-color: #000;
  display: flex;
  align-items: center;
}
#toggle {
  display: none;
  &:checked + label .hamburger-container span:nth-child(1) {
    transform: rotate(45deg);
    top: 5px;
    transition: top 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0.3s;
  }
  &:checked + label .hamburger-container span:nth-child(2) {
    transform: rotate(-45deg);
    top: -5px;
    transition: top 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0.3s;
  }
  &:checked ~ .nav-items {
    transform: scaleY(1);
    ul {
      opacity: 1;
    }
  }
}
.hamburger-container {
  margin-left: 20px;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  span {
    position: relative;
    display: block;
    height: 1px;
    background-color: #fff;
    top: 0;
    transition: top 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out 0s;
  }
}
.nav-items {
  position: absolute;
  top: 44px;
  width: 100%;
  height: calc(100vh - 44px);
  background-color: rgba($color: #000000, $alpha: 1);
  color: #fff;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: transform 0.5s ease-in-out 0s;
  ul {
    list-style: none;
    margin: 0 10%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.1s;
  }
  li {
    line-height: 2.5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 5px;
    &:nth-last-child(1) {
      border: none;
    }
  }
}
