* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2d33;
}

#app {
  min-width: 50vw;
  max-width: 90vw;
  transition: all 0.3s ease 0s;
  margin-top: 10px;
}

.title-box {
  background-color: #697492;
  height: 60px;
  padding: 0 30px;
  border-radius: 30px 30px 0 0;
}

.title-box::after {
  content: "";
  display: block;
  clear: both;
}

.title-box .dot-box {
  float: left;
  padding-top: 20px;
}

.title-box .dot-box span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

.title-box .dot-box span:nth-child(1) {
  background-color: #e54c3c;
}

.title-box .dot-box span:nth-child(2) {
  background-color: #f0c41a;
}

.title-box .dot-box span:nth-child(3) {
  background-color: #24ae60;
}

.title-box .title {
  float: right;
  letter-spacing: 0.05em;
  padding-top: 16px;
  color: #fff;
}

.container {
  padding: 30px;
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  color: #fff;
}

.container section {
  height: 55px;
  line-height: 55px;
  border-radius: 10px;
}

.password {
  background-color: #59a0e0;
  text-align: center;
  position: relative;
  line-height: 55px;
  font: 14px/1.5 sans-serif;
  cursor: pointer;
  letter-spacing: 0.05em;
  overflow: hidden;
}

.password #password-copy {
  height: 0;
  position: absolute;
  border: 0;
  outline: none;
}

.password .copy {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  left: 12px;
  bottom: 6px;
  cursor: pointer;
  opacity: 0.8;
}

.password .copy .iconfont {
  font-size: 12px;
}

.password .copy:hover {
  opacity: 1;
}

.length-box .length-info {
  color: #697492;
  padding: 10px 0px 5px;
  font: bold 12px/1.5 arial, sans-serif;
}

.length-box .length {
  background-color: #71c25c;
  display: flex;
  align-items: center;
}

.length-box .length span {
  flex: 1;
  font: bold 16px/1.5 sans-serif;
  text-align: center;
}

.length-box .length input[type="range"] {
  flex: 4;
  height: 10px;
  background-color: #fff;
  -webkit-appearance: none !important;
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.length-box .length input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #5d68e2;
  box-shadow: 4px 2px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.setting-box .title {
  color: #697492;
  padding: 10px 0px 5px;
  font: bold 12px/1.5 arial, sans-serif;
}

.setting-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.setting-wrap .setting {
  width: 49%;
  padding: 0 10px 0 30px;
  background-color: #5dc2bc;
  margin-bottom: 10px;
  cursor: pointer;
}

.setting-wrap .setting > input {
  display: none;
}

.setting-wrap .setting label {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.setting-wrap .setting label::before {
  content: "";
  position: absolute;
  right: 5px;
  bottom: 11px;
  transition: all 0.3s ease 0s;
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 1px solid #94b3b9;
  border-radius: 24px;
  background-color: #94b3b9;
}

.setting-wrap .setting label::after {
  content: "";
  position: absolute;
  right: 28px;
  bottom: 15px;
  transition: all 0.3s ease 0s;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
}

.setting-wrap .setting input:checked + label::before {
  border: 1px solid #fff;
  background-color: #5adde9;
}

.setting-wrap .setting input:checked + label::after {
  right: 10px;
  box-shadow: -2px 0px 12px rgba(0, 0, 0, 0.1);
}

.setting-wrap .setting input:checked:active + label::after {
  transform: translateX(0px);
  width: 30px;
}

.setting-wrap .setting input:active + label::after {
  transform: translateX(6px);
  width: 30px;
}

.submit {
  cursor: pointer;
  background-color: #eca843;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #app {
    min-width: 300px !important;
  }
  .setting-wrap .setting {
    transition: all 1s ease 0s;
    width: 100%;
  }
}
